*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    height: 15%;    
}
.titulos{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
main{
    background-color: rgb(230, 230, 200);
    min-height: 70%;
}
footer{
    margin-top: 0.5rem;
    background-color: blanchedalmond;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px;
    width: 30rem;
    height: 3rem;
    margin: 1em
}
nav a{
    color: black;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    padding: .5em;
    border: 2px solid black;
    font-size: 14px;
    text-decoration: solid;
    text-align: center;
    text-decoration: none;
    color: initial;
}
h1{
    font-style: oblique;
    font-size: 3rem;
}
h2{
    text-align: center;
}
section > div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imagen-2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 40%;
   
}
nav img{
    height: 4em;
    width: 4em;
}
#logo{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    object-fit: contain;
}
section img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 35rem;
    object-fit: cover;
    margin-bottom: 2em;
}
.parrafo{
    border-top: 2px solid brown;
    margin-left: 5rem;
    margin-top: 5rem;
    width: 25vw;
    height: 0vh;
    display: flex;
    justify-content: start;
}
nav a:hover{
    background-color: rgb(177, 159, 130);

}

#p-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.contacto-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    min-height: 15vh;
}

#tit-h2{
    text-decoration: underline;
}
#tecla-home{
    text-decoration: none;
    color: black;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: white;
}
.seccion-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#seccion-tabla{
    height: 70vh;
}
#contenedor-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutus {
    display: flex;
    flex-direction: column;

}

.aboutus > figure {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}
.home-art > figure{
    display: flex;
    flex-direction: row;
}
.home-art > figure > figcaption + img{
    width: calc(50% - 6em);
    margin: 3em;
}
.home-art > figure > figcaption > p{
    font-size: 1.5em;
    margin: 4em 0 0 2em;
    border-top: 2px solid brown;
}
.aboutus > figure > img,
.aboutus > figure > img + figcaption {
    width: calc(50% - 6em);
    margin: 3em;
}
.aboutus > figure > img + figcaption > p{
    font-size: 1.75em;
    margin: 2.5em 0;
    text-align: justify;
    border-top: 2px solid brown;
}
.benefits > figure{
    display: flex;
    flex-direction: row;
}

.benefits > figure > img,
.benefits > figure > img + figcaption {
    width: calc(50% - 6em);
    margin: 3em;
}
.benefits > figure > img + figcaption > ol{
    font-size: 1.5em;
    margin: 2.5em 0;
    text-align: justify;
    list-style-type: decimal;
}
.benefits > figure > img + figcaption > ol > li > ul > li{
    list-style-type: square ;
}
form{
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 20em;
}
form fieldset{
    background-color: white;
}
.form-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form > fieldset{
    border: 1px;
}

.form-data{
    display: flex;
    flex-direction: column;
    text-align: start;
}
iframe{
    height: 20em;
    width: 20em;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
    }
   #imagen-1{
    height: 20em;
    width: 20em;
   }
   .home-art > figure > img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20em;
    width: 20em;
    object-fit: contain;
   }
   .div-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
   .aboutus > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .aboutus > figure > img{
    width: 20em;
    height: 20em;
    margin: 0;
   }
   #imagen-1 > img {
    height: 20em;
    width: 20em;
   }
   .benefits > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .benefits > figure > img{
    height: 20em;
    width: 20em;
    margin: 0;
   }
   .footer-contact{
    border: 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100vh;
   }
}
